<% provide(:title, @taxon.name) %>
<%= render 'page_title', taxon: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'categories', taxonomies: @taxonomies %>
        <%= render 'colors_type' %>
        <%= render 'size_type' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <div class="col-xs-6">
            <select name="guiest_id1" id="guiest_id1" class="select-drop">
              <option value="0">並び替え</option>
              <option value="1">人気順</option>
              <option value="2">安い順</option>
              <option value="3">新着順</option>
              <option value="3">高い順</option>
            </select>
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <button type="button" class="btn btn-default active"onclick="window.location.href='product_grid_left_sidebar.html'">
                <i class="fa fa-th"aria-hidden="true"></i><span>Grid</span>
              </button>
              <button type="button" class="btn btn-default"onclick="window.location.href='product_list_left_sidebar.html'">
                <i class="fa fa-th-list"aria-hidden="true"></i><span>List</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <%= render partial: 'product', collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'light_section' %>
