<% provide(:title, @product.name) %>
<% render 'page_title', product: @product %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% @product.images.each_with_index do |image, i| %>
                <div class="item <%= "active" if i.zero? %> " data-thumb="<%= i %>">
                  <%= image_tag(image.attachment(:large)) %>
                </div>
                <% end %>
              </div>
            </div>
            <div class="clearfix">
              <div id="thumbcarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                  <% @product.images.each_with_index do |image, i| %>
                  <div data-target="#carousel" data-slide-to="<%= i %>" class="thumb">
                    <%= image_tag(image.attachment(:small)) %>
                  </div>
                  <% end %>
                </div>
                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="media-body">
            <ul class="list-inline">
              <li>
                <% if @product.taxons.present? %>
                  <%= link_to "一覧ページへ戻る", potepan_category_path(@product.taxons.first.id), class: "fa fa-reply", aria_hidden: "true" %>
                <% else %>
                  <%= link_to "一覧ページへ戻る", potepan_path, class: "fa fa-reply", aria_hidden: "true" %>
                <% end %>
              </li>
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>
            <div class="btn-area">
              <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right"
                  aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <%= render 'related_product', related_products: @related_products %>
    </div>
  </div>
</section>
